
.popUpContainer {
    position: fixed;
    top: 50%;
}

.root {
    padding-top: 30px;

    .card {
        box-shadow: 5px 10px 8px 10px rgba(100, 100, 100, 0.5);

        svg {
            right: 14px;
            cursor: pointer;
            position: absolute;
            top: 50%;
            margin-top: -9px;
        }
    }
    .cardBody {
        overflow: auto;
    }

    .header {
        position: relative;
    }
}